:root {
    --dark-purple: rgb(28, 1, 63);
    --tranzish: .4s ease-in-out;
}

body {
    font-family: 'Trebuchet', sans-serif;
    background-color: lightcyan;
}

header {
    background-color: var(--dark-purple);
    border-bottom: 2px solid yellow;
}

h3 {
    font-size: 24px;
}

#citySearch:focus {
    border: 2px solid orange;
}

#currentWeather {
    height: 220px;
}

#submitSearch {
    background-color: var(--dark-purple);
}

#submitSearch:hover {
    opacity: 80%;
    cursor: pointer;
}

#fiveDayForecast {
    height: 280px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card-body p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

/* This is for the li's in the search history */
.history-item {
    font-weight: 600;
    background-color: yellow;
}

.history-item:hover {
    border: 1px solid var(--dark-purple);
    opacity: 80%;
    cursor: pointer;
}

/* Media queries */

@media (max-width: 1000px) {
    .card-title {
        font-size: 14px;
        transition: var(--tranzish);
    }
    
    .card-body p {
        font-size: 10px;
        transition: var(--tranzish);
    }

    .history-item {
        font-size: 11px;
        transition: var(--tranzish);
    }
}


@media (max-width: 750px) {
    #searchContainer {
        
    }
}