body {
    background-color: lightcyan;
}

#currentWeather {
    height: 220px;
}

#fiveDayForecast {
    height: 280px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card-body p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}