body {
    font-family: 'Trebuchet', sans-serif;
    background-color: lightcyan;
}

h3 {
    font-size: 24px;
}

#citySearch:focus {
    border: 2px solid orange;
}

#currentWeather {
    height: 220px;
}

#fiveDayForecast {
    height: 280px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card-body p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

/* This is for the li's in the search history */
.history-item {
    font-weight: 600;
}

.history-item:hover {
    border: 1px solid purple;
    opacity: 80%;
    cursor: pointer;
}